doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/global.css')

  body
    include navbar
    .max-w-6xl.mx-auto.bg-white.rounded-lg.p-6
      block content
    include footer
