body {
    font-family: Arial, sans-serif;
    background-image: url('/images/background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgb(221, 230, 237);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    align-items: center;
}

.logo {
    width: 80px;
}

h2 {
    margin-bottom: 20px;
    color: rgb(39, 55, 77);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777;
    font-size: 14px;
    margin-left: 25px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 25px;

}

.form-group.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 25px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

label[for="show-password"] {
    margin: 0;
}

button {
    padding: 10px 0;
    /* Điều chỉnh độ cao của nút */
    background-color: rgb(39, 55, 77);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 90%;
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Khoảng cách giữa biểu tượng và chữ */
    background-color: #db4437;
    /* Màu đỏ của Google */
}

button.google-login:hover {
    background-color: #c23321;
}

.or-divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 16px;
    color: #777;
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #ccc;
    /* Màu của dòng kẻ */
    margin: 0 10px;
    /* Khoảng cách giữa chữ "or" và các dòng kẻ */
}

a {
    display: block;
    text-align: right;
    margin: 0px 25px 20px 0px;
    color: rgb(12, 122, 207);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.signup {
    display: block;
    text-align: center;
    margin: 30px 0px 40px 10px;
    color: rgb(12, 122, 207);
    text-decoration: none;
    font-size: 16px;
}

.signup:hover {
    text-decoration: underline;
}

.signup-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
}

.signup-button:hover {
    background-color: #218838;
    text-decoration: none;
}

.language-selector {
    text-align: right;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.language-selector a {
    font-size: 0.9rem;
    margin-right: 20px;
    text-decoration: none;
    color: #007bff;
    display: flex;
    align-items: center;
    display: flex;
}

.language-selector .flag {
    width: 20px;
    height: 15px;
    margin-right: 5px;
}

.language-selector a:hover {
    text-decoration: underline;
    color: #0056b3;
}
.error-message {
    color: red;
    font-size: 0.75rem; 
    font-style: italic; 
    margin-left: 30px;
    margin-top: 0.25rem;
}
