body {
    font-family: Arial, sans-serif;
    background-image: url('/images/background.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    background-color: rgb(221, 230, 237);
    padding: 40px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    color: rgb(39, 55, 77);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777;
    font-size: 14px;
    margin-left: 25px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    box-sizing: border-box;
    margin-left: 25px;
}

button {
    padding: 10px 0;
    background-color: rgb(39, 55, 77);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 90%;
    margin: 40px 0px 30px 0px;
    font-size: 18px;
    line-height: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signup-button {
    background-color: #28a745;
    /* Green color */
}

.signup-button:hover {
    background-color: #218838;
    /* Darker green */
}

a {
    display: block;
    text-align: right;
    margin: 10px 25px;
    color: rgb(12, 122, 207);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.error-message {
    color: red;
    font-size: 0.75rem; 
    font-style: italic; 
    margin-left: 30px;
    margin-top: 0.25rem;
}

.success-message{
    color: rgb(26, 26, 228);
    font-size: 0.75rem; 
    font-style: italic; 
    margin-left: 30px;
    margin-top: 0.25rem;
}
